#include <stdio.h>
#include <string.h>
#include <unistd.h>

#include <test_helper.hpp>

#include <<%= name %>.hpp>

static int stderr_copy;
static FILE* dev_null = NULL;
void silenceErrorStream() {
  stderr_copy = dup(fileno(stderr));
  dev_null = freopen("/dev/null", "w", stderr);
}
void restoreErrorStream() {
  if (dev_null) {
    fflush(stderr);
    dup2(stderr_copy, fileno(stderr));
    close(stderr_copy);
  }
}

/// Stock example from Catch readme
unsigned int Factorial( unsigned int number ) {
  return number <= 1 ? number : Factorial(number-1)*number;
}
SCENARIO("This project") {
  GIVEN("Different sized inputs") {
    WHEN("Input is 1") {
      THEN("Result is 1") {
        REQUIRE( Factorial(1) == 1 );
      }
    }
    REQUIRE( Factorial(2) == 2 );
    REQUIRE( Factorial(3) == 6 );
    REQUIRE( Factorial(10) == 3628800 );
  }
}

