<%= name %>
==================

@todo Write description

License
-------
MIT license (see `LICENCE`).

Acknowledgements
----------------
This project includes software developed for 
the CException Project, by Mark VanderVoord and other 
contributors, as well as the Unity Project, by Mike Karlesky,
Mark VanderVoord, and Greg Williams and other contributors.
